<div class="wallets-partial">
    <label for="btc_wallet"><strong>BTC Wallet:</strong></label>
    <input type="text" id="btc_wallet" name="btc_wallet" 
           value="{{ request.user.userwallet.btc_wallet }}" 
           placeholder="Enter your BTC wallet address">

    <label for="eth_wallet"><strong>ETH Wallet:</strong></label>
    <input type="text" id="eth_wallet" name="eth_wallet" 
           value="{{ request.user.userwallet.eth_wallet }}" 
           placeholder="Enter your ETH wallet address">

    <label for="usdt_erc20_wallet"><strong>USDT ERC20 Wallet:</strong></label>
    <input type="text" id="usdt_erc20_wallet" name="usdt_erc20_wallet" 
           value="{{ request.user.userwallet.usdt_erc20_wallet }}" 
           placeholder="Enter your USDT ERC20 wallet address">

    <label for="usdt_trc20_wallet"><strong>USDT TRC20 Wallet:</strong></label>
    <input type="text" id="usdt_trc20_wallet" name="usdt_trc20_wallet" 
           value="{{ request.user.userwallet.usdt_trc20_wallet }}" 
           placeholder="Enter your USDT TRC20 wallet address">
</div>
