{% extends "users/dashboard_base.html" %}
{% load static %}
{% block content %}
<div class="card kyc-card">
    <div class="card-header">
        KYC Verification
    </div>


    <div class="card-body">
        <p>Status: {{ kyc.get_status_display }}</p>

        <form method="post" enctype="multipart/form-data" class="kyc-form">
            {% csrf_token %}

            <div class="file-upload">
                <label for="id_document" class="custom-file-label">Choose File</label>
                {{ form.document }}
                <span class="file-chosen">No file chosen</span>
            </div>

            <button type="submit" class="upload-btn">Upload Document</button>
        </form>
    </div>
</div>
{% endblock %}
