{% extends "users/dashboard_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/withdraw.css' %}">
{% endblock %}


{% block content %}

<div class="withdrawpage-card">

    <form
        method="post"
        action="{% url 'users:request_withdrawal' %}"
    >

        {% csrf_token %}


        <!-- =====================================================
             SELECT ASSET
        ====================================================== -->

        <label
            for="currency"
            class="withdrawpage-label"
        >
            Select Asset
        </label>

        <select
            id="currency"
            name="currency"
            class="withdrawpage-select"
            required
        >

            <option value="BTC">
                Bitcoin (BTC)
            </option>

            <option value="ETH">
                Ethereum (ETH)
            </option>

            <option value="USDT_ERC20">
                USDT ERC20
            </option>

            <option value="USDT_TRC20">
                USDT TRC20
            </option>

        </select>


        <!-- =====================================================
             AMOUNT
        ====================================================== -->

        <label
            for="amount"
            class="withdrawpage-label"
        >
            Amount (USD)
        </label>

        <input
            type="number"
            id="amount"
            name="amount"
            class="withdrawpage-input"
            placeholder="Enter withdrawal amount"
            min="200"
            step="0.01"
            required
        >

        <p class="withdrawpage-note">
            Minimum withdrawal is $200.
        </p>


        <!-- =====================================================
             DESTINATION WALLET
        ====================================================== -->

        <label
            for="wallet_address_display"
            class="withdrawpage-label"
        >
            Destination Wallet Address
        </label>


        <!-- Visible wallet address -->
        <input
            type="text"
            id="wallet_address_display"
            class="withdrawpage-input"
            readonly
        >


        <!-- Hidden field submitted to Django -->
        <input
            type="hidden"
            id="wallet_address"
            name="wallet_address"
        >


        <!-- =====================================================
             WARNING
        ====================================================== -->

        <div class="withdrawpage-warning">

            <p>
                The selected asset will be withdrawn to the
                wallet address shown above.
            </p>

        </div>


        <!-- =====================================================
             CAPTCHA
        ====================================================== -->

        <div class="withdrawpage-captcha">

            {{ form.captcha }}

            {% if form.captcha.errors %}

                <div class="withdrawpage-error">
                    {{ form.captcha.errors }}
                </div>

            {% endif %}

        </div>


        <!-- =====================================================
             SUBMIT BUTTON
        ====================================================== -->

        <button
            type="submit"
            class="withdrawpage-btn"
        >
            Submit Withdrawal
        </button>


    </form>

</div>


<!-- =========================================================
     WALLET DATA FROM DJANGO
========================================================== -->

{{ wallets|json_script:"wallet-data" }}


<!-- =========================================================
     WALLET ADDRESS JAVASCRIPT
========================================================== -->

<script>

document.addEventListener("DOMContentLoaded", function () {

    const currencySelect =
        document.getElementById("currency");

    const walletDisplay =
        document.getElementById("wallet_address_display");

    const walletHidden =
        document.getElementById("wallet_address");

    const walletDataElement =
        document.getElementById("wallet-data");


    /*
     * Make sure all required elements exist.
     */

    if (
        !currencySelect ||
        !walletDisplay ||
        !walletHidden ||
        !walletDataElement
    ) {

        console.error(
            "Withdrawal wallet elements were not found."
        );

        return;
    }


    /*
     * Read wallet information supplied
     * by the Django view.
     */

    let wallets = {};

    try {

        wallets = JSON.parse(
            walletDataElement.textContent
        );

    } catch (error) {

        console.error(
            "Unable to read wallet data:",
            error
        );

        return;
    }


    /*
     * Update wallet address according
     * to selected asset.
     */

    function updateWalletAddress() {

        const currency =
            currencySelect.value;

        const walletAddress =
            wallets[currency] || "";


        /*
         * Display wallet address.
         */

        walletDisplay.value =
            walletAddress;


        /*
         * This is the value Django receives.
         */

        walletHidden.value =
            walletAddress;


        console.log(
            "Selected currency:",
            currency
        );

        console.log(
            "Wallet address:",
            walletAddress
        );
    }


    /*
     * Populate wallet when page loads.
     */

    updateWalletAddress();


    /*
     * Update wallet when asset changes.
     */

    currencySelect.addEventListener(
        "change",
        updateWalletAddress
    );

});

</script>


{% endblock %}